<div class="header-phone">Пермь: {{ contacts.main_phone.htmlValue|raw }}</div>
<div class="header-phone">Москва: {{ contacts.sec_phone.htmlValue|raw }}</div>
<div class="header-email">Email: {{ contacts.main_email.htmlValue|raw }}</div>