<ul>
    {% if en is empty %}
        <li class="lang-button"><a href="/en/">EN</a></li>
    {% else %}
        <li class="lang-button"><a href="/">RU</a></li>
    {% endif %}
    {% for block in socialBlocks %}
        <li>
            {{ block.extendedBody|raw }}
        </li>
    {% endfor %}
</ul>