<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Login</title>




    <link rel="stylesheet" href="{{ asset('/static/css/login.css') }}">




</head>

<body>

<body class="align">

<div class="site__container">

    <div class="grid__container">

        {{ block('fos_user_content') }}

    </div>

</div>

</body>





</body>
</html>