/* ========================================================================
   Use this file to add custom CSS easily
   ========================================================================== */

.row-padding-h {
    padding: 0 10px;
}

.grid-icon img {
    width: 52px;
    height: 52px;
}

[data-title=Desc] {
    width: 350px;
}

tr.product img {
    margin-top: 10px;
}

tr.product .item-title a {
    display: block;
}

th.category-title span {
	font-size: 11px;
}

th.item-title span {
    color: #C23B44;
}

.tab-inner .btn {
    height: 35px;
}

.select-filter.form-control {
    width: auto;
}

.header-contacts {
    text-align: right;
    line-height: 15px;
}

.header-phone, .header-email {
    padding-top: 10px;
}

.header-contacts a {
    color: #C23B44;
}

.header-logo h1 {
    display: inline-block;
    padding-left: 15px;
    border-left: #BDBDBD solid 1px;
    margin-left: 15px;
    font-size: 30px;
}

.mrg-top-20 {
    margin-top: 20px;
}

#contact_form_captcha_image {
    margin-bottom: 15px;
}

.contact-form .form-horizontal .form-control {
    width: 352px;
}